{% extends 'Todo_list/index.html' %}
{% comment %} 

    <h2>Create Todo</h2>
    <h3>{{user.email}}</h2>
    <form method = "POST" enctype = "multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value = 'Submit'>
    </form>


 {% endcomment %}


{% block content %}
    <div class = "create_container">
        <div class = "create_todo">
            <h2>Create your todo</h2>
            <br><br>
            <form method = "POST" action = "" id = "createtodo" name = "createtodo">
                {% csrf_token %}
                <label for = "title">Title: </label>
                {{form.title}}
                <br><br>
                <label for "description">Description: </label>
                {{form.description}}    

                <br><br>
                <label for = "status">Status: </label>
                {{form.completed}}
                <br><br>
                {{form.notify}}
                &nbsp;
                <span id = "notify">Notification</span>
                <br><br>
                    {% comment %} {{form.as_p}} {% endcomment %}

                <input type = "submit" class="btn" value = "Submit" name = "submit" id = "submit" form = "createtodo">
            </form>
        </div>
    </div>
{% endblock content %}