{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor%}
    {% endif %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Home | Todo List</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav id="navbar">
        <div class="flex-container">
            {% if user.is_authenticated %}
                <div>
                    <a href="{% url 'home' %}" class="current">Home</a>
                    <a href="{% url 'create-todo' %}">Create Now</a>
                    <a href="{% url 'todo-list' %}">All Todo</a>
                    <a href="{% url 'todo-accomplished' %}">Accomplished</a>
                    <a href="{% url 'todo-inprogress' %}">In Progress</a>
                </div>
                <div>
                    <a href="{% url 'profile' %}">Profile</a>
                    <a href="{% url 'logout' %}">Log Out</a>
                </div>
            {% else %}
                <div>
                    <a href="{% url 'home' %}" class="current">Home</a>
                </div>
                <div>
                    <a href = "{% url 'signup' %}">Register</a>
                    <a href="{% url 'login' %}">Login</a>
                </div>
            {% endif %}
        </div>
    </nav>

    <!-- Showcase -->
    {% comment %} <div id="home-showcase">
        <h1 class="l-heading"> Welcome, Organize Your tasks here and start doing it now.</h1>
    </div>
     {% endcomment %}
    {% block content %}
    {% endblock %}
</body>
</html>
