{% extends 'Todo_list/index.html' %}

{% block content %}

    <div class = "container">
        <div class = "search_filter">
            <form method = "GET">

                {{myFilter.form}}
            </form>

        </div>
        {% for todo in todo_list %}
            <section>
                <div id="todo-container">
                    <div class="todo-detail">
                        <br><h3><a href = "{% url 'todo-detail' todo.slug %}">{{todo.title}}</a></h3><br>
                        <h3>{{todo.description}}</h3><br>
                        <h3>{{todo.notify}}</h3><br>
                        <button class = "btn" type = "submit" value = "Submit"><a href = "{% url 'signup' %}">Signup</a><button>

                        <button><a href = "{% url 'todo-update' todo.slug %}">Update</a></button>
                        <button><a href = "{% url 'delete-todo' todo.slug %}">Delete</a></button>
                        <button><a href = "{% url 'todo-detail' todo.slug %}">Detail</a></button> 
                    </div>
                </div>
            </section>
        {% endfor %}
        
    </div>
{% endblock %}



