{% extends 'Todo_list/index.html' %}


{% block content %}

    <div class = "profile_page">
        <section>
            <div class="border-container">
                <div class="profile-container">
                    <div>
                        <img src="{{user.profile.avatar.url}}" alt="user profile">
                    </div>
                    <div>
                        <p>Username: {{user.username}}</p>
                        <p>Email: {{user.email}}</p>
                        <a href="{% url 'update_profile' %}" class="btn">Settings</a>
                        <a href = "{% url 'log' %}" class = "btn">Log History</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

{% endblock %}
