{% extends 'Todo_list/index.html' %}


{% block content %}

    <div class = "profiel_settings">
        <br><br>
        <h2>Profile Settings</h2>
        <br><br>
        <form method = "POST" action = "#" enctype = "multipart/form-data" id = "profile_settings">
            {% csrf_token %}
            <label for = "username">Username: </label>
            {{userform.username}}
            {% comment %} <input type = "text" name = "username" id = "username" placeholder = "New username"> {% endcomment %}
            <br><br>
            <label for = "email">Email Address: </label>
            {{userform.email}}
            {% comment %} <input type = "email" name = "email" id = "email" placeholder = "New EmailAddress"> {% endcomment %}
            <br><br>
            <label for = "avatar">Change Avatar</label>
            {{profileform.avatar}}
            <button class = "button button1" type = "submit" form = "profile_settings" value = "Submit">Update</button>
        </form>
    </div>
{% endblock %}


